
 .waves-effect, .waves-light ,.btn {
     /* background-color: black !important; */
     background-color:#e0e0e0 !important; 
     color: black !important;
 }


 navbar .navbar-default .navbar-static-top{
     background-color: none !important;
 }
 